/*UTILITIES*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#wrapper{
  margin: 0 auto;
  width: 1100px;
  height:100vh;
}



.yellow-bg{
  background-color: #f8b040;

}



.flex{
  display: flex;
}

/*END UTILITIES*/

/*HEADER*/
header{
  padding: 50px 0 70px 50px;
  position: relative;
  height: 10px;
}

header img{
  position: absolute;
  top: -48px;
  right: -20px;
}

/*END HEADER*/

main{
  height: calc(100vh - 190px);
  overflow-y: auto;
  width: 1000px;
  margin: 0 auto;
}

/*NOME HAMBURGER*/
input[name=fname-burger]{
  margin: 30px 0;
  border: 0;
  font-size: 20px;
}

/*END NOME HAMBURGER*/

/*CHECKBOX*/
#checkbox-container{
  width: 700px;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

#checkbox-container .checkbox-left,
#checkbox-container .checkbox-right
{
  width: 200px;
}

.checkbox-left img,
.checkbox-right img{
  width: 50px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.checkbox-left label,
.checkbox-right label,
.checkbox-left input[type=checkbox],
.checkbox-right input[type=checkbox],
#checkbox-container span{
  margin-left: 15px;
  /* vertical-align: super; */
}

/* #checkbox-container input[type=checkbox]{
  visibility: hidden;
} */

#checkbox-container span{
  margin-left: 10px;
  color: #d82850;
  position: relative;
}


/*CUSTOMIZZAZIONE CHECKBOX*/


#checkbox-container input[type=checkbox]{
  visibility: hidden;
  }

.fa.fa-square{
  position: absolute;
  width: 12px;
  height: 12px;
  color: #d82850;
  top:23px;
  left: 133px;
}

#checkbox-container .checkbox-left .checkbox-row:nth-child(2) .fa.fa-square{
  left: 120px;
}

.checkbox-row{
  position: relative;
}

.fa.fa-check{
  position: relative;
  transform: translateY(-100%);
  display: none;
  z-index: 10;
  color: #000;
  font-size: 20px;
}

#checkbox-container input[type="checkbox"]:checked + .fa.fa-square .fa.fa-check{
  display: block;

}

#checkbox-container span{
  position:relative;
}



/* #checkbox-container input[type=checkbox]:checked + span:before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-55%);
  z-index: 1;
  content: "x";
  font-size: 20px;
  font-weight: 900;
  color: black;
} */




/*END CUSTOMIZZAZIONE CHECKBOX*/

/*END CHECKBOX*/

/*DISCOUNT COUPON*/
#discount-container{
  margin-top: 25px;
  margin-bottom: 20px;
}

#discount-container input[type=text]{
  border: 0;
  background-color: #f0e8c8;
  border-radius: 2px;
  width: 650px;
}

/*END DISCOUNT COUPON*/

/*BUTTON*/

.button-container{
  width: 100%;
  text-align: center;

}

.button-container button{
  padding: 12px 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/*END BUTTON*/

/*FOOTER*/
footer{
  background-color: #d82850;
  height: 70px;
  width: 1050px;
  color: #fff;
  justify-content: space-between;
  padding: 0 50px;

}

footer span{
  line-height: 70px;
  font-size: 22px;
}

#total-container{
  justify-content: space-between;
}

/*END FOOTER*/
