*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#wrapper,
.container{
  margin: 0 auto;
}

#wrapper{
  width: 1100px;
  height: 100vh;
}

.yellow-bg{
  background-color: #f8b040;

}

.container{
  width: 1000px;
  margin-top: 50px;
}

.flex{
  display: flex;
}

header{
  padding: 50px 0 70px 50px;
  position: relative;
  height: 10px;
}

header img{
  position: absolute;
  top: -48px;
  right: -20px;
}

input[name=fname-burger]{
  margin: 30px 0 30px 0;
  border: 0;
  font-size: 20px;
}

#checkbox-container{
  width: 700px;
  justify-content: space-between;
  margin-top: 20px;
}

#checkbox-container .checkbox-left,
#checkbox-container .checkbox-right
{
  width: 200px;
}

.checkbox-left img,
.checkbox-right img{
  width: 50px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.checkbox-left label,
.checkbox-right label,
.checkbox-left input[type=checkbox],
.checkbox-right input[type=checkbox],
#checkbox-container span{
  margin-left: 15px;
  vertical-align: super;
}

#checkbox-container span{
  margin-left: 10px;
  color: #d82850;
}

#discount-container{
  margin-top: 25px;
  margin-bottom: 20px;
}

#discount-container input[type=text]{
  border: 0;
  background-color: #f0e8c8;
  border-radius: 2px;
  width: 600px;
}
